{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ path('homepage') }}assets/js/randomBackground.js"></script>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <h1 class="my-5 py-1 h4 text-center card text-white bg-primary">Réinitialisez votre mot de passe</h1>
       
        {% for flashError in app.flashes('reset_password_error') %}
            <div class="mb-3 alert alert-error rounded" role="alert">{{ flashError }}</div>
        {% endfor %}

        <p class="px-2 py-2 text-center rounded surrounding">Veuillez indiquer votre adresse email afin de recevoir un lien
        pour réinitialiser votre mot de passe</p>

        {{ form_start(requestForm) }}
            <div class="px-2 pb-3 rounded surrounding">
                {{ form_row(requestForm.email) }}
            </div>
            <button class="mt-3 btn btn-primary w-100" type="submit">Recevoir un email de réinitialisation</button>
        {{ form_end(requestForm) }}
    </div>
</div>
{% endblock %}
