{% extends 'base.html.twig' %}

{% block title "Modification de ville" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ path('homepage') }}assets/css/gestionModal.css">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ path('homepage') }}assets/js/randomBackground.js"></script>
    <script type="text/javascript" src="{{ path('homepage') }}assets/js/gestionModal.js"></script>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <h1 class="my-5 py-1 h4 text-center card text-white bg-primary dataCity" data-city="{{ city.name | restoreSemicolon }}" data-city-postal-code="{{ city.postalCode }}">Modifier une ville</h1>

        {{ include('gestion/_shared/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        {{ include('gestion/_shared/_gestionModal.html.twig') }}

        <button onClick="deleteCity()" class="my-3 btn btn-danger" data-bs-toggle="modal" data-bs-target="#Modal">Supprimer</button>


        <div class="my-5 text-center rounded surrounding">
            <a class="surroundingLink" href="{{ path('city_list') }}">Retourner au listing</a>
        </div>
        <div class="gap">
        </div>
    </div>
</div>


{% endblock %}
