{# #################################################################################################### #}
{#                                           MODAL START                                                #}
{# #################################################################################################### #}
<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Suppression d'un espace locatif</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <p>Attention : cette action est irréversible !</p>
                <p>Supprimer <b>{{ rental_space.rentalSpaceType }}</b>
                    qui se trouve à 
                    <b>{{ rental_space.city }}</b>.
                    <br><small>(quantité : {{ rental_space.quantity }})</small>
                </p>
                <p>Confirmez-vous ?</p>
            </div>
            <div class="modal-footer">
                <form method="post" action="{{ path('rental_space_delete', {'id': rental_space.id}) }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rental_space.id) }}">
                    <button class="btn btn-primary">Confirmer</button>
                </form>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
{# #################################################################################################### #}
{#                                            MODAL END                                                 #}
{# #################################################################################################### #}