{% extends 'base.html.twig' %}

{% block title "Ajout d'espace locatif" %}

{% block javascripts %}
    <script type="text/javascript" src="{{ path('homepage') }}assets/js/randomBackground.js"></script>
    <script type="text/javascript" src="{{ path('homepage') }}assets/js/gestionModal.js"></script>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <h1 class="my-5 py-1 h4 text-center card text-white bg-primary">Ajouter un nouvel espace locatif</h1>
        
        {% for flashLabel, flashMessages in app.flashes(['add_success', 'add_error']) %}
            {% for flashMessage in flashMessages %}
                {% if 'add_success' in flashLabel %}
                    <div class="mb-3 alert alert-success rounded text-break" role="alert">{{ flashMessage }}</div>
                {% elseif 'add_error' in flashLabel %}
                    <div class="mb-3 alert alert-error rounded text-break" role="alert">{{ flashMessage }}</div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="px-2 pb-3 rounded surrounding">

                {% set idCityToSelect = app.session.get('addedCity') %}
                {% if idCityToSelect is not empty %}
                    <input id="idCityToSelect" type="hidden" data-id-city-to-select="{{ idCityToSelect }}">
                {% endif %}

                {% set idTypeToSelect = app.session.get('addedType') %}
                {% if idTypeToSelect is not empty %}
                    <input id="idTypeToSelect" type="hidden" data-id-type-to-select="{{ idTypeToSelect }}">
                {% endif %}
            
                {{ form_row(form.rentalSpaceType) }}
                <p onClick="addRentalSpaceType()" class="mt-3 btn btn-success" data-bs-toggle="modal" data-bs-target="#Modal"><i class="fas fa-plus-circle"></i> Ajouter un type d'espace locatif</p>
                
                {{ form_row(form.city) }}
                <p onClick="addCity()" class="mt-3 btn btn-success" data-bs-toggle="modal" data-bs-target="#Modal"><i class="fas fa-plus-circle"></i> Ajouter une ville</p>
                
                {{ form_widget(form) }}
            </div>
            <button class="mt-3 btn btn-success w-100">{{ button_label|default('Enregister') }}</button>
        {{ form_end(form) }}
        
        <div class="my-5 text-center rounded surrounding">
            <a class="surroundingLink" href="{{ path('rental_space_list') }}">Retourner au listing</a>
        </div>
        <div class="gap">
        </div>
    </div>
</div>
        {{ include('gestion/_shared/_gestionModal.html.twig') }}
{% endblock %}
