{% extends 'base.html.twig' %}

{% block title "Ajout d'espace locatif" %}

{% block javascripts %}
    <script type="text/javascript" src="{{ path('homepage') }}assets/js/randomBackground.js"></script>
    <script type="text/javascript" src="{{ path('homepage') }}assets/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="{{ path('homepage') }}assets/js/gestionModal.js"></script>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 mx-auto">
         <h1 class="my-5 py-1 h4 text-center card text-white bg-primary">Ajouter un nouvel espace locatif</h1>

        <div class="px-2 pb-3 rounded surrounding">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

            {{ form_row(form.rentalSpaceType) }}
            <p onClick="addRentalSpaceType()" class="mt-3 btn btn-success" data-bs-toggle="modal" data-bs-target="#Modal"><i class="fas fa-plus-circle"></i> Ajouter un type d'espace locatif</p>
            
            {{ form_row(form.city) }}
            <p onClick="addCity()" class="mt-3 btn btn-success" data-bs-toggle="modal" data-bs-target="#Modal"><i class="fas fa-plus-circle"></i> Ajouter une ville</p>
            
            {{ form_widget(form) }}
        </div>
        <button class="mt-3 btn btn-success w-100">{{ button_label|default('Enregister') }}</button>
        {{ form_end(form) }}
        
        <div class="my-5 text-center rounded surrounding">
            <a class="surroundingLink" href="{{ path('rental_space_list') }}">Retourner au listing</a>
        </div>
        <div class="gap">
        </div>
    </div>
</div>
        {{ include('gestion/_shared/_gestionModal.html.twig') }}
{% endblock %}
