{% extends 'base.html.twig' %}

{% block title "Modification d'espace locatif" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ path('homepage') }}assets/css/gestionModal.css">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ path('homepage') }}assets/js/randomBackground.js"></script>
    <script type="text/javascript" src="{{ path('homepage') }}assets/js/gestionModal.js"></script>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <h1 class="my-5 py-1 h4 text-center card text-white bg-primary dataRentalSpace" data-rental-space="{{ rental_space.rentalSpaceType|upper }}" data-rental-space-city="{{ rental_space.city|upper }}" data-rental-space-quantity="{{ rental_space.quantity }}">Modifier un espace locatif</h1>

        {{ include('gestion/_shared/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        {{ include('gestion/_shared/_modal_delete.html.twig') }}

        <button onClick="deleteRentalSpace()" class="my-3 btn btn-danger" data-bs-toggle="modal" data-bs-target="#Modal">Supprimer</button>

        <div class="my-5 text-center rounded surrounding">
            <a class="surroundingLink" href="{{ path('rental_space_list') }}">Retourner au listing</a>
        </div>
        <div class="gap">
        </div>
    </div>
</div>


{% endblock %}
