<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}HIBRID
			{% endblock %}

		</title>
		<link rel="stylesheet" href="{{ path('homepage') }}assets/css/bootstrap.min.css">
		{# Fontawsome icon #}
   		<link rel="stylesheet" href="{{ path('homepage') }}assets/css/all.css">
		{% block stylesheets %}
		{% endblock %}
		{# Custom CSS #}
		<link rel="stylesheet" href="{{ path('homepage') }}assets/css/main.css">

    	<script type="text/javascript" src="{{ path('homepage') }}assets/js/jquery-3.5.1.js"></script>
		<script type="text/javascript" src="{{ path('homepage') }}assets/js/bootstrap.bundle.min.js"></script>
		{% block javascripts %}
		{% endblock %}
	</head>
	<body>
	{# ------------------------------------------------------------------------------------ #}
	{#                               FLASH MESSAGES section                                 #}
	{# ------------------------------------------------------------------------------------ #}
		{{ include('shared/_flash_messages.html.twig') }}
	{# ------------------------------------------------------------------------------------ #}
	{#                                  NAV BAR section                                     #}
	{# ------------------------------------------------------------------------------------ #}
		{{ include('shared/_navbar.html.twig') }}
	{# ------------------------------------------------------------------------------------ #}
	{#                                   MAIN section                                       #}
	{# ------------------------------------------------------------------------------------ #}
		<main role="main" class="container">
			{% block body %}{% endblock %}
		</main>
	{# ------------------------------------------------------------------------------------ #}
	{#                                   FOOTER section                                     #}
	{# ------------------------------------------------------------------------------------ #}
		{% include "shared/_footer.html.twig" %}
	</body>
</html>
